/* Smartphone-ish */
@media all and (max-width: 480px) {
	

	#promo p {
		font-size: 1.5em;
	}
	
	#packagr h1 {
		font-size: 1.5em;
	}

	#projects .title { 
		font-size: 1.5em;
	}

	#nav .nav-links .button{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.7em;
	}	
	
	
	#tag-box {
		
		.tag {
			font-size: 1.5em;
		}
		
		.tagsinput {
			width: 90%;
		}
	}


	.fork_me {
		display: none;
	}

	
}

/* Tablet-ish */
@media all and (max-width: 768px) {
	
	.dispatch-books {
		display: none;
	}
	
	.half {
		width: auto;
		float: none;
		clear: both;
	}


	#dispatch .dispatch-signup{
			margin: 0px auto;		

		form{
			padding-left: 0;
			margin: 0px auto;
			width: 100%;
		}
	}

}

/* Smaller than an ipad */
@media all and (max-width: 1024px) {
	
	body {
		font-size: 16px;
	}
	
}

@media all and (min-width: 600px) {
	.tile {
		width: 45%;
		margin: 2.5%;
		float: left;
	}
	
}

/* Bigger than a tablet */
@media all and (min-width: 769px) {

	.dispatch-signup {
		width: 45%;
		margin-left: 5%;
	}

	#dispatch p.description {
		text-align: center;
	}
	
	.plugin-page #dispatch {
		p.description {
			text-align: left;
			}
			
		.dispatch-info {
			margin-top: 1.25em;
		}		
	}


	#projects .half {
		width: 40%;
		padding: 5%;
	}


	#plugin-description{
		
		h1 { 
			font-size: 5em;
			line-height: 1em;
		}
	}
	
		
}

/* Desktop-ish */
@media all and (min-width: 900px) {
	
	.tile {
		float: left;
		width: 30%;
		margin: 1.5%;
		max-height: 360px;
		min-height: 360px;
	}
}


