/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* custom styles */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Avenir LT Std 65 Medium/AvenirLTStd-Medium.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: lighter;
  font-weight: 100;
  src: url("fonts/Avenir LT Std 35 Light/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: bolder;
  font-weight: 800;
  src: url("fonts/Avenir LT Std 85 Heavy/AvenirLTStd-Heavy.otf"); }

/* */
@font-face {
  font-family: 'Avenir';
  font-style: oblique;
  font-weight: 200;
  src: url("fonts/Avenir LT Std 35 Light Oblique/AvenirLTStd-LightOblique.otf"); }

@font-face {
  font-family: 'Avenir Book';
  font-style: light;
  src: url("fonts/Avenir LT Std 45 Book/AvenirLTStd-Book.otf"); }

@font-face {
  font-family: 'Avenir Book';
  font-style: oblique;
  src: url("fonts/Avenir LT Std 45 Book Oblique/AvenirLTStd-BookOblique.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: oblique;
  src: url("fonts/Avenir LT Std 55 Oblique/AvenirLTStd-Oblique.otf"); }

@font-face {
  font-family: 'Avenir Roman';
  font-style: normal;
  src: url("fonts/Avenir LT Std 55 Roman/AvenirLTStd-Roman.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: oblique;
  font-weight: normal;
  src: url("fonts/Avenir LT Std 65 Medium Oblique/AvenirLTStd-MediumOblique.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: oblique;
  font-weight: bolder;
  src: url("fonts/Avenir LT Std 85 Heavy Oblique/AvenirLTStd-HeavyOblique.otf"); }

@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Avenir LT Std 95 Black/AvenirLTStd-Black.otf"); }

@font-face {
  font-family: 'Avenir Black';
  font-style: oblique;
  font-weight: normal;
  src: url("fonts/Avenir LT Std 95 Black Oblique/AvenirLTStd-BlackOblique.otf"); }

/* */
body, html {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  font-family: "Avenir", "Helvetica", "Sans Serif"; }

img {
  max-width: 100%; }

#main {
  max-width: 1800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* 	font-size: 1.0rem; */ }

.section {
  background-color: #eeefef; }
  .section .description {
    margin-left: auto;
    margin-right: auto; }
  .section .inner {
    padding-left: 3.75%;
    padding-right: 3.75%;
    padding-top: 50px;
    padding-bottom: 50px; }
    .section .inner .description {
      width: 80%; }
  .section.fullbleed .inner {
    padding: 0px; }
    .section.fullbleed .inner .description {
      width: 74%; }

.clear {
  width: 100%;
  clear: both; }

.half {
  width: 50%;
  float: left; }

.content-right * {
  display: block;
  text-align: right;
  clear: both; }

.logo {
  max-width: 100%; }

.smaller {
  font-size: smaller; }

.light-font .section {
  color: #ffffff; }

.red-theme .aware-status {
  background-color: #e20100; }
.red-theme .demo {
  background-color: #e20100;
  -webkit-box-shadow: 4px 3px #bb0404;
  -moz-box-shadow: 4px 3px #bb0404;
  box-shadow: 4px 3px #bb0404; }
.red-theme .contact a {
  color: #bb0404; }

.blue-theme.plugin-page a {
  color: #b3d4fc; }
.blue-theme .aware-status {
  background-color: #ffffff;
  color: #000000; }
  .blue-theme .aware-status a {
    color: #000000; }
.blue-theme .demo {
  background-color: #67bee5;
  -webkit-box-shadow: 4px 3px #0081bb;
  -moz-box-shadow: 4px 3px #0081bb;
  box-shadow: 4px 3px #0081bb; }
.blue-theme .contact a {
  color: #67bee5; }

.aware-status {
  width: 55%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: lighter; }
  .aware-status a {
    color: white; }

.plugin-page a {
  color: #FFF; }
.plugin-page .section .inner {
  padding-left: 3.75%;
  padding-right: 3.75%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 960px; }
.plugin-page.sections-purple .section {
  background-color: #201D31; }
.plugin-page.breakpoints-background {
  background: #212121;
  background-image: url("../img/breakpoints_big_bg.png");
  background-repeat: no-repeat; }
  .plugin-page.breakpoints-background .section {
    background: none; }
.plugin-page #nav {
  background-color: #ffffff;
  margin-top: 20px; }
  .plugin-page #nav .inner {
    padding-top: 25px;
    padding-bottom: 25px; }
.plugin-page .nav-links {
  padding-top: 15px; }
  .plugin-page .nav-links a {
    margin-top: 10px;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 6px; }
    .plugin-page .nav-links a.button {
      background: #FFF;
      border-radius: 6px;
      color: #2B7FB9;
      -webkit-box-shadow: none;
      text-shadow: none;
      box-shadow: none;
      font-weight: normal; }
.plugin-page #demos .inner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
.plugin-page #demos .demo {
  display: inline-block;
  width: 22%;
  max-width: 12.5em;
  margin: 1%;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 1%;
  padding-right: 1%;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
  background-size: 2.0rem; }
  .plugin-page #demos .demo a {
    text-decoration: none;
    color: white;
    font-size: 1.0em; }
  .plugin-page #demos .demo.long {
    padding-right: 3em;
    width: 35%; }
  .plugin-page #demos .demo.github {
    background-image: url("../img/github_white.png"); }
  .plugin-page #demos .demo.github.white-background {
    background-image: url("../img/github.png"); }
  .plugin-page #demos .demo.js-fiddle {
    background-image: url("../img/jsfiddle.png"); }
.plugin-page .short-preview {
  float: left;
  width: 30%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 10px;
  position: relative; }
  .plugin-page .short-preview img {
    width: 100%; }
  .plugin-page .short-preview a {
    text-decoration: none;
    font-weight: lighter; }
.plugin-page .short-preview-title {
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  padding-top: 10px; }
.plugin-page #posts .content-right {
  margin-right: 1.875%;
  margin-top: 15px; }
.plugin-page #dispatch {
  color: #eceded;
  background-image: url("../img/dispatch_background.jpg");
  background-position: center center;
  -moz-box-shadow: inset 0 30px 100px #000;
  -webkit-box-shadow: inset 0 30px 100px #000;
  box-shadow: inset 0 30px 100px #000;
  text-align: left; }
  .plugin-page #dispatch .description {
    line-height: 1.6em;
    text-align: left; }
  .plugin-page #dispatch .dispatch-signup form {
    padding-left: 15%;
    width: 75%; }
  .plugin-page #dispatch .dispatch-signup .button {
    float: left; }
  .plugin-page #dispatch .dispatch-signup label {
    display: block;
    text-align: left; }
  .plugin-page #dispatch .dispatch-signup input[type="text"],
  .plugin-page #dispatch .dispatch-signup input[type="email"] {
    height: 30px;
    width: 90%;
    display: block; }
  .plugin-page #dispatch .dispatch-info {
    padding-top: 1em; }

/** **/
.button {
  font-size: 0.8em;
  background: #5dace2;
  color: white;
  border: 0px;
  text-decoration: none;
  padding: 7px 20px 7px 20px;
  margin-right: 8px;
  -webkit-box-shadow: 4px 3px 0px #2B7FB9;
  -moz-box-shadow: 4px 3px 0px #2B7FB9;
  box-shadow: 4px 3px 0px #2B7FB9;
  text-shadow: 1px 1px 1px #2B7FB9; }
  .button:hover {
    background-color: #72c2f9; }

.arrow-right {
  font-weight: lighter;
  color: #666;
  font-size: 1.25em;
  text-decoration: none;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-image: url("../img/grayarrow.png");
  background-position: right center;
  background-size: contain; }

.arrow-right.white {
  color: white;
  background-image: url("../img/whitearrow.png"); }

h3.prelude {
  font-size: 1.5em;
  font-weight: bolder;
  color: #666;
  padding-left: 10px;
  padding-right: 10px; }
  h3.prelude a {
    text-decoration: none;
    color: #5dace2; }

/* / */
#home_page #promo {
  background-repeat: no-repeat;
  background-color: #000;
  background-image: url("../img/grid_background.jpg");
  background-size: 100%; }
  #home_page #promo .inner {
    padding-top: 25px;
    padding-bottom: 25px; }
  #home_page #promo p {
    color: white;
    font-weight: lighter;
    font-size: 2.0em;
    max-width: 80%;
    margin: 0px auto; }
  #home_page #promo .arrow-right {
    font-weight: lighter; }
#home_page #nav {
  background-image: url(../img/darkbgpattern.png); }
  #home_page #nav .inner {
    padding-top: 25px;
    padding-bottom: 25px; }
  #home_page #nav .nav-links {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 15px; }
    #home_page #nav .nav-links a {
      margin-top: 10px;
      width: 15%;
      padding-top: 10px;
      padding-bottom: 6px; }
#home_page #packagr {
  background-repeat: no-repeat;
  background-image: url("../img/packagr_background.jpg"); }
  #home_page #packagr h1 {
    font-size: 3.0em;
    max-width: 18em;
    margin: 0px auto; }
#home_page #dispatch {
  color: #eceded;
  background-image: url("../img/dispatch_background.jpg");
  background-position: center center;
  -moz-box-shadow: inset 0 30px 100px #000;
  -webkit-box-shadow: inset 0 30px 100px #000;
  box-shadow: inset 0 30px 100px #000; }
  #home_page #dispatch .description {
    line-height: 1.6em; }
  #home_page #dispatch .dispatch-books {
    float: left;
    width: 45%; }
  #home_page #dispatch .dispatch-books img {
    display: block;
    float: right; }
  #home_page #dispatch .dispatch-signup .button {
    float: left; }
  #home_page #dispatch .dispatch-signup label {
    display: block;
    text-align: left; }
  #home_page #dispatch .dispatch-signup form {
    padding-left: 15%;
    width: 75%; }
  #home_page #dispatch .dispatch-signup input[type="text"],
  #home_page #dispatch .dispatch-signup input[type="email"] {
    height: 30px;
    width: 90%;
    display: block; }
#home_page #recent-posts {
  color: #666;
  background-image: url("../img/blog_background.jpg");
  background-position: center center;
  -moz-box-shadow: inset 0 30px 100px #ccc;
  -webkit-box-shadow: inset 0 30px 100px #ccc;
  box-shadow: inset 0 30px 100px #ccc; }
  #home_page #recent-posts .posts {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #home_page #recent-posts .tile.new {
    border-left: 10px solid #de20a2; }
  #home_page #recent-posts .new:before {
    content: 'new';
    color: #FFF;
    background: #5dace2;
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 7px 10px;
    -webkit-transform: rotate(12deg); }
  #home_page #recent-posts .tile {
    width: 30%;
    height: 360px;
    margin-bottom: 25px;
    margin-right: 1.0%;
    margin-left: 1.0%;
    float: left;
    text-align: left;
    background: white;
    position: relative;
    border-left: 10px solid #5dace2;
    font-weight: lighter;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    overflow: hidden; }
    #home_page #recent-posts .tile .inner {
      padding: 35px 25px; }
    #home_page #recent-posts .tile .button {
      position: absolute;
      left: 20px;
      bottom: 25px; }
    #home_page #recent-posts .tile:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: block;
      content: '';
      height: 100px;
      background-image: linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
      background-image: -o-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
      background-image: -moz-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
      background-image: -webkit-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
      background-image: -ms-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, white), color-stop(0.9, rgba(255, 255, 255, 0))); }
#home_page #projects .title {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  letter-spacing: .1em;
  padding: 0.2em;
  float: left;
  margin-top: 3%;
  width: 400px;
  max-width: 90%; }
#home_page #projects .aware-js,
#home_page #projects .breakpoints {
  padding-top: 50px;
  color: #ffffff;
  font-weight: lighter;
  text-align: left;
  padding-left: 3.75%;
  padding-right: 3.75%; }
#home_page #projects .tags-input {
  padding-top: 25px; }
#home_page #projects .content-right {
  padding-bottom: 50px; }
#home_page .breakpoints {
  background-image: url("../img/breakpoints_background.jpg"); }
#home_page .tags-input {
  -moz-box-shadow: inset 0 30px 100px #ccc;
  -webkit-box-shadow: inset 0 30px 100px #ccc;
  box-shadow: inset 0 30px 100px #ccc; }
#home_page .aware-js {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/aware_background.jpg"); }

/* /projects/code/tagsinput */
#tags_input_page #plugin-title h1 {
  font-size: 5.0em;
  margin: 0px;
  padding: 0px; }
#tags_input_page #plugin-title h2 {
  margin: 0px;
  padding: 0px; }
#tags_input_page #plugin-title h3 {
  margin-bottom: 0; }
#tags_input_page #plugin-description img {
  display: block;
  margin: 50px auto 10px;
  max-width: 100%; }

.tile {
  overflow: hidden; }
  .tile h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25em;
    line-height: 1.1em; }
    .tile h4 a {
      color: #5dace2;
      text-decoration: none; }
  .tile .preview-post {
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 0.8em; }

.title a {
  text-decoration: none;
  color: white; }

.blackgradient {
  background-image: url(../img/buttonbg.png);
  -moz-box-shadow: inset 0 0px 100px #000;
  -webkit-box-shadow: inset 0 0px 100px #000;
  box-shadow: inset 0 0px 100px #000; }

/** **/
.tags-input .inner {
  margin-left: auto;
  margin-right: auto; }
.tags-input .content-right {
  padding-bottom: 50px;
  padding-right: 3.75%; }

/* differs from the class above. this is the actual tagsinput box generated by the tags plugin */
.tags-box {
  padding-top: 50px; }
  .tags-box .tag {
    float: left;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 7px 25px 0px 25px;
    font-size: 2.0em;
    background-color: #B5ED89;
    border: 2px solid #68AD35;
    border-radius: 5px;
    position: relative; }
    .tags-box .tag .close-tag {
      font-weight: lighter;
      right: 5px;
      top: -3px;
      position: absolute;
      font-size: 18px;
      color: #6BAF38; }

/** **/
.social {
  width: 340px;
  margin-left: auto;
  margin-right: auto; }
  .social a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain; }
    .social a.email {
      background-image: url("../img/mail.png");
      background-position-y: 4px; }
    .social a.twitter {
      background-image: url("../img/Twitter.png"); }
    .social a.facebook {
      background-image: url("../img/facebook.png");
      width: 25px;
      height: 35px; }
    .social a.github {
      background-image: url("../img/github.png");
      height: 38px; }

.gray {
  color: #5dace2; }

.getintouch {
  float: left;
  width: 150px;
  color: #fff;
  padding: 10px 5px 5px 5px;
  font-size: 1.5em;
  background-color: #5dace2;
  margin: 0px 10px;
  -webkit-box-shadow: 5px 4px 0px #2B7FB9;
  -moz-box-shadow: 5px 4px 0px #2B7FB9;
  box-shadow: 5px 4px 0px #2B7FB9;
  text-shadow: 1px 1px 1px #2B7FB9; }

.getintouch:hover {
  -webkit-box-shadow: 0px 1px 1px #2B7FB9;
  -moz-box-shadow: 0px 1px 1px #2B7FB9;
  box-shadow: 0px 1px 1px #2B7FB9;
  cursor: pointer;
  background-color: #72c2f9; }

#profiles {
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 20px; }

.bottomtext {
  float: none;
  padding: 25px 100px; }

/* Reader Aware Tricks */
.first-visit-only {
  display: none; }

.first-visit .first-visit-only {
  display: block; }

@media all and (max-width: 1144px) {
  #home_page #recent-posts .posts {
    width: auto; }

  #contactus .inner {
    padding: 25px 20px; }

  .bottomtext {
    float: none;
    padding: 25px 20px; } }
@media all and (max-width: 1010px) {
  /*
  #home_page #recent-posts .posts {*/ }
@media all and (max-width: 999px) {
  #nav .nav-links {
    width: 65%;
    margin-left: auto;
    margin-right: auto; }

  #nav .half {
    width: 100%; }

  .logo {
    float: none;
    margin-left: auto;
    margin-right: auto; } }
@media all and (max-width: 960px) {
  .logo {
    float: none;
    margin-left: auto;
    margin-right: auto; } }
@media all and (max-width: 900px) {
  #home_page {
    /*
    #home_page #dispatch .dispatch-signup input[type="email"] {
    */ }
    #home_page #dispatch .dispatch-signup input[type="email"],
    #home_page #dispatch .dispatch-signup input[type="text"] {
      width: 100%; }
    #home_page #recent-posts .posts .tile {
      width: 46%; }
    #home_page #projects .title {
      font-size: 1.5em; } }
@media all and (max-width: 699px) {
  .half {
    width: 100%; }

  body {
    font-size: 16px; }

  .section .inner {
    padding-top: 25px;
    padding-bottom: 25px; }
    .section .inner .description {
      width: auto; }
  .section.fullbleed .inner .description {
    width: auto; }

  #nav .nav-links {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%; }

  #nav .nav-links .button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.75em; }

  #home_page #promo p {
    font-size: 1.5em;
    width: auto;
    max-width: none;
    padding-bottom: 10px; }
  #home_page #promo .arrow-right {
    padding-bottom: 0px; }
  #home_page #packagr h1 {
    font-size: 2em; }
  #home_page #recent-posts .posts .tile {
    width: auto;
    height: 300px;
    margin-bottom: 10px; }
    #home_page #recent-posts .posts .tile .inner {
      padding-top: 20px; }
  #home_page #projects .title {
    font-size: 2.0em; }
  #home_page #projects .tags-input {
    text-align: left; }
    #home_page #projects .tags-input div.tagsinput {
      width: 100% !important; }
    #home_page #projects .tags-input div.tagsinput span.tag {
      font-size: 2.0em; }

  .dispatch-signup form {
    width: 100%; }

  #dispatch .dispatch-books {
    display: none; }

  #dispatch .dispatch-books img {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 50%; }

  #dispatch .dispatch-signup {
    width: 100%; }

  .dispatch-signup form {
    padding-left: 0%; }

  #recent-posts .tile {
    width: 100%;
    height: auto; }

  #recent-posts .posts {
    width: auto; }

  #recent-posts .tile .button {
    left: 15px;
    bottom: 15px; }

  #recent-posts .inner {
    margin-left: auto;
    margin-right: auto; }

  #recent-posts .tile {
    margin-left: auto;
    margin-right: auto;
    width: 98%; }

  #recent-posts .tile .inner {
    padding: 15px; }

  .tile .preview-post {
    font-size: 1em; }

  .tags-input .inner {
    width: 90%; }

  .tags-box {
    padding-top: 25px; }

  .tags-box .tag {
    font-size: 2em; }

  .getintouch {
    float: left;
    width: 100px;
    font-size: 1.2em;
    padding: 15px 15px -10px 15px; }

  #contactus .inner {
    padding: 25px 20px; }

  .bottomtext {
    float: none;
    padding: 25px 20px; }

  #mainwrapper {
    margin-left: 2em; } }
@media all and (max-width: 460px) {
  .plugin-page .fork_me {
    display: none; }

  #home_page #packagr h1 {
    font-size: 1.5em; }
  #home_page #packagr .packagr-logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto; }
  #home_page #projects .title {
    font-size: 1.5em; } }
@media all and (max-width: 400px) {
  .plugin-page .fork_me {
    display: none; }
  .plugin-page .nav-links a {
    display: block;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0px;
    padding-left: 0px;
    width: 23%; } }
