/* custom styles */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Avenir LT Std 65 Medium/AvenirLTStd-Medium.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: lighter;
	font-weight: 100;
	src: url('fonts/Avenir LT Std 35 Light/AvenirLTStd-Light.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: bolder; 
	font-weight: 800;
	src: url('fonts/Avenir LT Std 85 Heavy/AvenirLTStd-Heavy.otf');
}


@import "boilerplate";
@import "structure";
@import "themes";
@import "home";
@import "blog";
@import "rwd2";
@import "rad";