/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* custom styles */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Avenir LT Std 65 Medium/AvenirLTStd-Medium.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: lighter;
	font-weight: 100;
	src: url('fonts/Avenir LT Std 35 Light/AvenirLTStd-Light.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: bolder; 
	font-weight: 800;
	src: url('fonts/Avenir LT Std 85 Heavy/AvenirLTStd-Heavy.otf');
}

/* */
@font-face {
	font-family: 'Avenir';
	font-style: oblique;
	font-weight: 200;
	src: url('fonts/Avenir LT Std 35 Light Oblique/AvenirLTStd-LightOblique.otf');
}
@font-face {
	font-family: 'Avenir Book';
	font-style: light;
	src: url('fonts/Avenir LT Std 45 Book/AvenirLTStd-Book.otf');
}
@font-face {
	font-family: 'Avenir Book';
	font-style: oblique;
	src: url('fonts/Avenir LT Std 45 Book Oblique/AvenirLTStd-BookOblique.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: oblique;
	src: url('fonts/Avenir LT Std 55 Oblique/AvenirLTStd-Oblique.otf');
}
@font-face {
	font-family: 'Avenir Roman';
	font-style: normal;
	src: url('fonts/Avenir LT Std 55 Roman/AvenirLTStd-Roman.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: oblique;
	font-weight: normal;
	src: url('fonts/Avenir LT Std 65 Medium Oblique/AvenirLTStd-MediumOblique.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: oblique;
	font-weight: bolder;
	src: url('fonts/Avenir LT Std 85 Heavy Oblique/AvenirLTStd-HeavyOblique.otf');
}
@font-face {
	font-family: 'Avenir Black';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Avenir LT Std 95 Black/AvenirLTStd-Black.otf');
}
@font-face {
	font-family: 'Avenir Black';
	font-style: oblique;
	font-weight: normal;
	src: url('fonts/Avenir LT Std 95 Black Oblique/AvenirLTStd-BlackOblique.otf');
}

/* */

body,html {
	font-size: 20px;
    line-height: 1.4;
    font-weight: 100;    
	font-family: "Avenir", "Helvetica", "Sans Serif";
}

img{
	max-width: 100%;
}

#main{
	max-width: 1800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
/* 	font-size: 1.0rem; */
}

.section{
	
	background-color: #eeefef;
   .description{
	   margin-left: auto;
	   margin-right: auto;
   }
   .inner{
   		
		padding-left: 3.75%;
		padding-right: 3.75%;
		padding-top: 50px;
		padding-bottom: 50px;	
		
		.description{
			width: 80%;
		}
    }
    &.fullbleed .inner{
	    padding: 0px;
	    .description{
		    width: 74%;
	    }
    }
}

.clear{
	width: 100%;
	clear: both;
}
.half{
	width: 50%;
	float: left;
}
.content-right *{
	display: block;
	text-align: right;
	clear: both;
}
.logo{
	max-width: 100%;
}
.smaller {
	font-size: smaller;
}

.light-font .section{
	color: #ffffff;	
}

.red-theme{
	.aware-status{
		background-color: #e20100;	
	}
	.demo{
		background-color: #e20100;
		-webkit-box-shadow: 4px 3px #bb0404;
		-moz-box-shadow: 4px 3px #bb0404;
		box-shadow: 4px 3px #bb0404;	
 	}
 	.contact{
	 	a{
		 	color: #bb0404;
	 	}
 	}
}

.blue-theme{

	&.plugin-page { 
		a{
			color: #b3d4fc;	
		}
	}

	.aware-status{
		background-color: #ffffff;
		color: #000000;	
		a{
		  color: #000000;		
		}
	}
	.demo{
		background-color: #67bee5;
		-webkit-box-shadow: 4px 3px #0081bb;
		-moz-box-shadow: 4px 3px #0081bb;
		box-shadow: 4px 3px #0081bb;
	}
	.contact{
		a{
		  color: #67bee5;
		}
	}
}

.aware-status{

	width: 55%;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-weight: lighter;
	a{
		color: white;	
	}
}

.plugin-page{
	a { color: #FFF; }
	.section{
		
		.inner{
			padding: {
				left: 3.75%;
				right: 3.75%;
				top: 25px;
				bottom: 25px;
			}
			margin:{
				left: auto;
				right: auto;
			}
			width: 70%;
			max-width: 960px;	
		}
	}	
	&.sections-purple{
		 .section{
			background-color: #201D31;
		}
	}
	&.breakpoints-background{
		background: #212121;
		background-image: url('../img/breakpoints_big_bg.png');
		background-repeat: no-repeat;
		.section{
			background: none;
		}	
	} 

	#nav{
		background-color: #ffffff;
		margin-top:20px;
		.inner{
		  padding-top: 25px;
		  padding-bottom: 25px;
		}
	}
	.nav-links{
	
		padding-top: 15px;
		a{
			margin-top: 10px;
			width: 15%;
			padding-top: 10px;
			padding-bottom: 6px;
			&.button {
				background: #FFF;
				border-radius: 6px;
				color: #2B7FB9;
				-webkit-box-shadow: none;
				text-shadow: none;
				box-shadow: none;
				font-weight: normal;
		   }
	   }
	}
	
	#demos{
		.inner{
			
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			
		}
		.demo{
			display: inline-block;
			width: 22%;
			max-width: 12.5em;
			margin: 1%;
			padding-top: 13px;
			padding-bottom: 10px;
			padding-left: 1%;
			padding-right: 1%;
			
			background-repeat: no-repeat;
			background-position-x: 97%;
			background-position-y: 50%;
			background-size: 2.0rem;
			
			a{
				text-decoration: none;
				color: white;
				font-size: 1.0em;
			}

			&.long{
				padding-right: 3em;
				width: 35%;	
			}
			&.github{
				background-image: url('../img/github_white.png');
			}
			&.github.white-background{
				background-image: url('../img/github.png');	
			}
			&.js-fiddle{
				background-image: url('../img/jsfiddle.png');	
			}
		}
	}
	
	.short-preview{
		float: left;
		width: 30%;
		padding-left: 1.5%;
		padding-right: 1.5%;
		margin-bottom: 10px;
		position: relative;
		img{
			width: 100%;
		}
		a{
			text-decoration: none;
			font-weight: lighter;
		}
	}	
	.short-preview-title{
		height: 40px;
		background-color: #ffffff;
		color: #000000;
		padding: 5px;
		padding-top: 10px;	
	}
	#posts .content-right{
		margin-right: 1.875%;
		margin-top: 15px;
	}	
	
	#dispatch{
		color: #eceded;
		background-image: url('../img/dispatch_background.jpg');
		background-position: center center;
		-moz-box-shadow:    inset 0 30px 100px #000;
	   -webkit-box-shadow: inset 0 30px 100px #000;
	   box-shadow:         inset 0 30px 100px #000;
	   text-align: left;
	   
	   .description{
			line-height: 1.6em;
			text-align:left;
		}
		.dispatch-signup{

			form{
				padding-left: 15%;
				width: 75%;
			}

			.button{
				float: left;
			}
			label{
				display: block;
				text-align: left;				
			}
			input[type="text"],
			input[type="email"]{
				height: 30px;
				width: 90%;
				display: block;
			}
		}
		.dispatch-info
		{
			padding-top: 1em;
		}
}
}
/** **/
.button{

	font-size: 0.8em;
	background: #5dace2;
	color: white;
	border:0px;
	text-decoration: none;
	padding: 7px 20px 7px 20px;
	margin-right: 8px;
	
	-webkit-box-shadow: 4px 3px 0px #2B7FB9;
	-moz-box-shadow:    4px 3px 0px #2B7FB9;
	box-shadow:         4px 3px 0px #2B7FB9;
	text-shadow: 1px 1px 1px #2B7FB9;
	
	&:hover{
		background-color: #72c2f9;	
	}
}

.arrow-right{
	font-weight: lighter;
	color: #666;
	font-size: 1.25em;
	text-decoration: none;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-image: url('../img/grayarrow.png');
	background-position: right center;
	background-size: contain;
}
.arrow-right.white{
	color: white;	
	background-image: url('../img/whitearrow.png');
}



h3.prelude{
	font-size: 1.5em;
	font-weight: bolder;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;
	a{
		text-decoration: none;
		color: #5dace2;
	}
} 

/* / */
#home_page {

	#promo{
		background-repeat: no-repeat;
		background-color: #000;
		background-image: url('../img/grid_background.jpg');
		background-size: 100%;
		
		.inner{
			padding-top: 25px;
			padding-bottom: 25px;
		}
		
		p{
		color: white;
		font-weight: lighter;
		font-size: 2.0em;	
		max-width: 80%;
		margin: 0px auto;
	   }
	   .arrow-right{
		   font-weight: lighter;
	   }	
	}
	
	#nav{
	background-image:url(../img/darkbgpattern.png);
	.inner{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.nav-links{
	
		margin-top: 5px; 
		margin-bottom: 15px; 
		padding-top: 15px;
		
		a{
			margin-top: 10px;
			width: 15%;
			padding-top: 10px;
			padding-bottom: 6px;
		}
	}
}
	
	#packagr{
	  background-repeat: no-repeat;
	  background-image: url('../img/packagr_background.jpg');
	  h1{
	    font-size: 3.0em;
	    max-width: 18em;
	    margin: 0px auto;
	  }	
    }
	
	#dispatch{
		color: #eceded;
		background-image: url('../img/dispatch_background.jpg');
		background-position: center center;
		-moz-box-shadow:    inset 0 30px 100px #000;
	   -webkit-box-shadow: inset 0 30px 100px #000;
	   box-shadow:         inset 0 30px 100px #000;
	   
	   .description{
		   line-height: 1.6em;
		}
		.dispatch-books{
			float: left;
			width: 45%;
		}
		.dispatch-books{
			img{
				display: block;
				float: right;
			}
		}
		.dispatch-signup{
			
			.button{
				float: left;
			}
			label{
				display: block;
				text-align: left;
			}
			form{
				padding-left: 15%;
				width: 75%;
			}
			input[type="text"],
			input[type="email"]{
				height: 30px;
				width: 90%;
				display: block;
			}	


		}
	}
	
	#recent-posts{
		color: #666;
		background-image: url('../img/blog_background.jpg');
		background-position: center center;
		-moz-box-shadow:    inset 0 30px 100px #ccc;
	   -webkit-box-shadow: inset 0 30px 100px #ccc;
	   box-shadow:         inset 0 30px 100px #ccc;	
	   



	   .posts{
		  width: 80%;
		  margin-left: auto;
		  margin-right: auto;	
		}

		.tile.new {
			border-left: 10px solid #de20a2;
		}

		.new:before {
			content: 'new';
			color: #FFF;
			background: #5dace2;
			position: absolute;
			top: -4px;
			right: -4px;
			padding: 7px 10px;
			-webkit-transform: rotate(12deg);
		}
		

	   .tile{
			width: 30%;
			height: 360px;
			margin-bottom: 25px;
			margin-right: 1.0%;
			margin-left: 1.0%;
			float: left;
			text-align: left;	
			background: white;
			position: relative;
			border-left: 10px solid #5dace2;
			font-weight: lighter;
			-webkit-box-shadow: 0 8px 6px -6px #ccc;
			-moz-box-shadow: 0 8px 6px -6px #ccc;
			box-shadow: 0 8px 6px -6px #ccc;
			overflow: hidden;
			.inner{ 
				padding: 35px 25px;
			}
			.button{
				position: absolute;
				left: 20px;
				bottom: 25px;
			}
			&:after{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				display: block;
				content: '';
				height: 100px;
				background-image: linear-gradient(bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
				background-image: -o-linear-gradient(bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
				background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
				background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
				background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
				
				background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.25, rgba(255,255,255,1)),
					color-stop(0.9, rgba(255,255,255,0))
				);
				
			}
		}

	}
	#projects {
		.title{
			font-size: 2em;
			text-align: center;
			font-weight: 100;
			letter-spacing: .1em;
			padding: 0.2em;
			float: left;
			margin-top: 3%;	
			width: 400px;
			max-width: 90%;	
		}
	  .aware-js,
	  .breakpoints{
		padding-top: 50px;
		color: #ffffff;
		font-weight: lighter;
		text-align: left;
		
		padding-left: 3.75%;
		padding-right: 3.75%;
	
		}	
	  .tags-input{
		  padding: {
			  top: 25px;
		  }
	  }
	  .content-right{
			padding: {
				bottom: 50px;
			}
		}
	}
	  .breakpoints{
		background-image: url('../img/breakpoints_background.jpg');	
	}
	  .tags-input {
		-moz-box-shadow:    inset 0 30px 100px #ccc;
		-webkit-box-shadow: inset 0 30px 100px #ccc;
		box-shadow:         inset 0 30px 100px #ccc;
    }
	  .aware-js{
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../img/aware_background.jpg');	
	}

}

/* /projects/code/tagsinput */
#tags_input_page{
  
  
  #plugin-title{
	  h1{
	  	font-size: 5.0em;
		margin: 0px;
		padding: 0px;  
	  }
	  h2{
		margin: 0px;
		padding: 0px;  
	  }
	  h3{
		margin-bottom: 0;
	 }
  }
  
  #plugin-description{

  	img{
		display: block;
		margin: 50px auto 10px;
		max-width: 100%;
	}
  }
}
.tile{
	 overflow: hidden;
	 h4{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1.25em;	
		line-height: 1.1em;
		 a{
			 color: #5dace2;
			 text-decoration: none;
		}
	}
	.preview-post{
		overflow: hidden;
		margin-bottom: 5px;
		font-size: 0.8em;
	}	
}

.title a{
	text-decoration: none;
	color: white;
}

.blackgradient{
	background-image: url(../img/buttonbg.png);
	-moz-box-shadow:    inset 0 0px 100px #000;
   -webkit-box-shadow: inset 0 0px 100px #000;
   box-shadow:         inset 0 0px 100px #000;
}

/** **/
.tags-input{
	.inner{

	margin-left: auto;
	margin-right: auto;
	}
	
	.content-right{
		padding-bottom: 50px;
		padding-right: 3.75%;	
	}

}
/* differs from the class above. this is the actual tagsinput box generated by the tags plugin */

.tags-box{
	padding-top: 50px;	
		.tag{
		
		float: left;
		margin-top: 10px;
		margin-left: 1%;
		margin-right: 1%;
		
		padding: 7px 25px 0px 25px;
		font-size: 2.0em;
		background-color: #B5ED89;
		
		border: 2px solid #68AD35;
		border-radius: 5px;
		position: relative;
		.close-tag{
			font-weight: lighter;
			right: 5px;
			top: -3px;
			position: absolute;
			font-size: 18px;
			color: #6BAF38;
		}
	}
}


/** **/

.social{
	width: 340px;
	margin-left: auto;
	margin-right: auto;	
	a{
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		margin-left: 15px;
		margin-right: 15px;
		background-repeat: no-repeat;	
		background-size: contain;
		&.email{
			background-image: url('../img/mail.png');	
			background-position-y: 4px;
		
		}
		&.twitter{
			background-image: url('../img/Twitter.png');	
		}
		&.facebook{
			background-image: url('../img/facebook.png');	
			width: 25px;
			height:35px;
		}
		&.github{
			background-image: url('../img/github.png');
			height:38px;	
		}

	}
	
}

#footer {

}

.gray {
	color: #5dace2;
}

.getintouch {

	float: left;
	width: 150px;
	color: #fff;
	padding:10px 5px 5px 5px;
	font-size: 1.5em;
	background-color: #5dace2;
	margin: 0px 10px;
	
	-webkit-box-shadow: 5px 4px 0px #2B7FB9;
	-moz-box-shadow:    5px 4px 0px #2B7FB9;
	box-shadow:         5px 4px 0px #2B7FB9;
	
	text-shadow: 1px 1px 1px #2B7FB9;
}

.getintouch:hover {
	-webkit-box-shadow: 0px 1px 1px #2B7FB9;
	-moz-box-shadow:    0px 1px 1px #2B7FB9;
	box-shadow:         0px 1px 1px #2B7FB9;
	cursor: pointer;
	background-color: #72c2f9;
}


#profiles {
	max-width: 800px;
	margin: 0px auto;
	padding-bottom: 20px;
}

.bottomtext {
	float: none;
		padding: 25px 100px;
}

/* Reader Aware Tricks */


.first-visit-only {
	display: none;
}

.first-visit .first-visit-only {
	display: block;
}



@media all and (max-width: 1144px) {

	#home_page{
		#recent-posts{
			.posts{
				width: auto;
			}
		}
	}	
	
	#contactus{
		.inner{
			padding: 25px 20px;
		}	
	} 
	.bottomtext {
		float: none;
		padding: 25px 20px;
	}
	

}
@media all and (max-width: 1010px) {
/*
#home_page #recent-posts .posts {*/

}
@media all and (max-width: 999px) {

	#nav .nav-links{
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
	#nav .half{
		width: 100%;
	}
	.logo{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
}


@media all and (max-width: 960px) {
	.logo{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}		
}

@media all and (max-width: 900px) {
	#home_page{
		#dispatch{
			.dispatch-signup{
			
				input[type="email"],
				input[type="text"]{
					width: 100%;
				}	
			}	
		}
		#recent-posts{
			.posts{
				.tile{
					width: 46%;
				}
			}
		}
		#projects{
			.title{
				font-size: 1.5em;
			}
		}
		/*
		#home_page #dispatch .dispatch-signup input[type="email"] {
		*/
	}	
}
@media all and (max-width: 699px) {
	.half{
		width: 100%;
	}
	
	body{
		font-size: 16px;
	}
	.section{
		
	   .inner{
			padding-top: 25px;
			padding-bottom: 25px;	
			
			.description{
				width: auto;
			}
	    }
	    &.fullbleed .inner{
		    .description{
			    width: auto;
		    }
	    }
	}

	#nav .nav-links{
		margin-top: 15px; 
		margin-bottom: 15px; 
		width: 100%;
	}
	
	#nav .nav-links .button{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.75em;
	}
	
	#home_page{
		#promo{
			p{
				font-size: 1.5em;
				width: auto;
				max-width: none;
				padding-bottom: 10px;
			}
			.arrow-right{
				padding-bottom: 0px;
			}
		}
		#packagr{
			h1{
				font-size: 2em;
			}
	
		}
	
		#recent-posts{
			.posts{
				.tile{
					width: auto;
					height: 300px;
					margin: {
						bottom: 10px;
					}
					.inner{
						padding:{
							top: 20px;
						}	
					}
			
				}
			}
		}
		#projects{
			.title{
				font-size: 2.0em;
			}
			.tags-input{
				text-align: left;
				div.tagsinput{
					width: 100% !important;
				}
				div.tagsinput span.tag {
					font-size: 2.0em;
				}
			}
		}
	}

	.dispatch-signup form{
		width: 100%;
	}
	#dispatch .dispatch-books{	
		display: none;
	}
	#dispatch .dispatch-books img{
		margin-left: auto;
		margin-right: auto;
		float: none;
		width: 50%;
	}
	#dispatch .dispatch-signup{
		width: 100%;	
	}
	.dispatch-signup form{
		padding-left: 0%;
	}

	#recent-posts .tile{
		width: 100%;
		height: auto;
	}
	#recent-posts .posts{
		width: auto;
		
	}
	.tile h4{

	}	
	#recent-posts .tile .button{
		left: 15px;
		bottom: 15px;
	}
	#recent-posts .inner{
		margin-left: auto;
		margin-right: auto;
	}
	#recent-posts .tile{
		margin-left: auto;
		margin-right: auto;	
		width: 98%;
	}
	#recent-posts .tile .inner {
		padding: 15px;
	}

	.tile .preview-post {
		font-size: 1em;
	}

	.tags-input .inner {
		width: 90%;
	}

	.tags-box {
		padding-top: 25px;
	}
	.tags-box .tag {
		font-size: 2em;
	}
	.getintouch {
	float: left;
	width: 100px;
	font-size: 1.2em;
	padding: 15px 15px -10px 15px;}
	
	#contactus .inner{
	padding: 25px 20px;
	}
	.bottomtext {
	float: none;
		padding: 25px 20px;
		}
	#mainwrapper {
		margin-left:2em;
	}
}


@media all and (max-width: 460px){
	.plugin-page{
		.fork_me{
			display: none;
		}
	}
	#home_page{
		#promo{

		}
		#packagr{
			h1{
				font-size: 1.5em;
			}
			.packagr-logo{
				width: 100px;
				margin: {
					left: auto;
					right: auto;
				}	
				
			}
	
		}
	
		#recent-posts{
			.posts{
				.tile{
		
				}
			}
		}
		#projects{
			.title{
				font-size: 1.5em;
			}
		}
	}	
}
@media all and (max-width: 400px){
	.plugin-page{
		.fork_me{
			display: none;
		}
		.nav-links{
			a{
				display: block;
				float: left;
				margin: {
					left: 1%;
					right: 1%;
				}
				padding: {
					top: 7px;
					bottom: 7px;
					right: 0px;
					left: 0px;
				}
				width: 23%;
			}	
		}
	}
}