/* custom styles */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Avenir LT Std 65 Medium/AvenirLTStd-Medium.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: lighter;
  font-weight: 100;
  src: url("fonts/Avenir LT Std 35 Light/AvenirLTStd-Light.otf"); }

@font-face {
  font-family: 'Avenir';
  font-style: bolder;
  font-weight: 800;
  src: url("fonts/Avenir LT Std 85 Heavy/AvenirLTStd-Heavy.otf"); }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
body, html {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  font-family: "Avenir", "Helvetica", "Sans Serif"; }

img {
  display: inline-block;
  max-width: 100%; }

div.video {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%; }
  div.video object, div.video embed, div.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#main {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto; }

#nav {
  text-align: center;
  background-image: url(../img/darkbgpattern.png); }
  #nav .nav-links {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 15px; }
    #nav .nav-links a {
      margin-top: 10px;
      width: 15%;
      padding-top: 10px;
      padding-bottom: 6px; }

.blog #nav .nav-links {
  margin-top: 25px; }

.section {
  position: relative;
  background-color: #eeefef; }
  .section.centered {
    text-align: center; }
  .section .description {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto; }
  .section .inner {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.25em;
    padding-bottom: 1.25em; }
  .section.fullbleed .inner {
    padding: 0px; }
  .section.examples .inner {
    max-width: 33em;
    margin: 0px auto; }

.clear {
  width: 100%;
  clear: both; }

.half {
  width: 50%;
  float: left; }

.content-right * {
  display: block;
  text-align: right;
  clear: both; }

.logo {
  max-width: 100%; }

.smaller {
  font-size: smaller; }

.light-font .section {
  color: #ffffff; }

.aware-status {
  width: 55%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: lighter; }
  .aware-status a {
    color: white; }

#plugin-description h1 {
  font-size: 3em;
  margin: 0px;
  padding: 0px;
  text-align: center; }
#plugin-description h2 {
  margin: 0px;
  padding: 0px;
  text-align: center; }
#plugin-description h3 {
  margin-bottom: 0;
  text-align: center; }
#plugin-description p {
  /* 		margin-top: 0; */ }

.plugin-page a {
  color: #FFF; }
.plugin-page.sections-purple .section {
  background-color: #201D31; }
.plugin-page.breakpoints-background .container {
  position: relative;
  background: #212121;
  background-image: url("../img/breakpoints_big_bg.png");
  background-repeat: no-repeat; }
  .plugin-page.breakpoints-background .container .section {
    background: none; }
.plugin-page #nav {
  background: #ffffff;
  margin-top: 20px; }
.plugin-page .nav-links {
  text-align: center;
  padding: 0px; }
  .plugin-page .nav-links a {
    margin-top: 10px;
    padding: 10px 10px 7px;
    display: inline-block; }
    .plugin-page .nav-links a.button {
      background: #FFF;
      border-radius: 6px;
      color: #2B7FB9;
      -webkit-box-shadow: none;
      text-shadow: none;
      box-shadow: none;
      font-weight: normal; }
.plugin-page #demos .inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
.plugin-page #demos a.demo {
  display: inline-block;
  max-width: 12.5em;
  margin: 1%;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
  background-size: 2.0em;
  text-decoration: none;
  color: white;
  font-size: 1.0em; }
  .plugin-page #demos a.demo.long {
    padding-right: 3em; }
  .plugin-page #demos a.demo.github {
    background-image: url("../img/github_white.png"); }
  .plugin-page #demos a.demo.github.white-background {
    background-image: url("../img/github.png"); }
  .plugin-page #demos a.demo.js-fiddle {
    background-image: url("../img/jsfiddle.png"); }
.plugin-page .short-preview {
  float: left;
  width: 30%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 10px;
  position: relative; }
  .plugin-page .short-preview img {
    width: 100%; }
  .plugin-page .short-preview a {
    text-decoration: none;
    font-weight: lighter; }
.plugin-page .short-preview-title {
  height: 60px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  padding-top: 10px;
  overflow: hidden; }
.plugin-page #posts .content-right {
  margin-right: 1.875%;
  margin-top: 15px; }

/** **/
.button {
  font-size: 0.8em;
  background: #5dace2;
  color: white;
  border: 0px;
  text-decoration: none;
  padding: 7px 20px 7px 20px;
  margin-right: 8px;
  -webkit-box-shadow: 4px 3px 0px #2b7fb9;
  -moz-box-shadow: 4px 3px 0px #2b7fb9;
  box-shadow: 4px 3px 0px #2b7fb9;
  text-shadow: 1px 1px 1px #2b7fb9; }
  .button:hover {
    background-color: #72c2f9; }

.arrow-right {
  font-weight: lighter;
  color: #666;
  font-size: 1.25em;
  text-decoration: none;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-image: url("../img/grayarrow.png");
  background-position: right center;
  background-size: contain; }

.arrow-right.white {
  color: white;
  background-image: url("../img/whitearrow.png"); }

h3.prelude {
  font-size: 1.5em;
  font-weight: bolder;
  color: #666;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center; }
  h3.prelude a {
    text-decoration: none;
    color: #5dace2; }

/* /projects/code/tagsinput */
#tags_input_page #plugin-description img {
  display: block;
  margin: 50px auto 10px;
  max-width: 100%; }

/** **/
/* differs from the class above. this is the actual tagsinput box generated by the tags plugin */
#tag-box .tag {
  font-size: 2em;
  position: relative; }
  #tag-box .tag a {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.5em; }
#tag-box .tagsinput {
  margin: 0px auto; }
#tag-box input {
  font-size: 2em; }

/** **/
.social {
  margin-left: auto;
  margin-right: auto; }
  .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain; }
    .social a.email {
      background-image: url("../img/mail.png");
      background-position-y: 4px; }
    .social a.twitter {
      background-image: url("../img/Twitter.png"); }
    .social a.facebook {
      background-image: url("../img/facebook.png");
      width: 25px;
      height: 35px; }
    .social a.github {
      background-image: url("../img/github.png");
      height: 38px; }

#footer {
  text-align: center; }

.gray {
  color: #5dace2; }

#profiles {
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 20px; }

.bottomtext {
  float: none;
  padding: 25px 100px; }

.fork_me {
  z-index: 1000; }

ul#animated_logo {
  display: block;
  list-style-type: none;
  margin: 0px auto;
  padding: 0;
  position: relative;
  width: 396px;
  height: 77px;
  max-width: 90%; }

ul#animated_logo li {
  position: relative;
  display: block;
  max-width: 19%;
  width: 77px;
  height: 77px;
  margin-right: 2px;
  top: -80px;
  float: left;
  -webkit-transition: all 0.5s ease; }

.blackgradient {
  background-image: url(../img/buttonbg.png);
  -moz-box-shadow: inset 0 0px 100px black;
  -webkit-box-shadow: inset 0 0px 100px black;
  box-shadow: inset 0 0px 100px black; }

.red-theme .aware-status {
  background-color: #e20100; }
.red-theme .demo {
  background-color: #e20100;
  -webkit-box-shadow: 4px 3px #bb0404;
  -moz-box-shadow: 4px 3px #bb0404;
  box-shadow: 4px 3px #bb0404; }
.red-theme .contact a {
  color: #bb0404; }

.blue-theme.plugin-page a {
  color: #b3d4fc; }
.blue-theme .aware-status {
  background-color: #ffffff;
  color: #000000; }
  .blue-theme .aware-status a {
    color: #000000; }
.blue-theme .demo {
  background-color: #67bee5;
  -webkit-box-shadow: 4px 3px #0081bb;
  -moz-box-shadow: 4px 3px #0081bb;
  box-shadow: 4px 3px #0081bb; }
.blue-theme .contact a {
  color: #67bee5; }

/* / */
#promo {
  text-align: center;
  background-repeat: no-repeat;
  background-color: #000;
  background-image: url("../img/grid_background.jpg");
  background-size: 100% auto;
  background-position: top center; }
  #promo p {
    color: white;
    font-weight: lighter;
    font-size: 2.0em;
    max-width: 23em;
    margin: 0px auto; }
  #promo .arrow-right {
    font-weight: lighter; }

#packagr {
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../img/packagr_background.jpg"); }
  #packagr h1 {
    font-size: 3.0em;
    max-width: 18em;
    margin: 0px auto; }

#dispatch {
  color: #eceded;
  background-image: url("../img/dispatch_background.jpg");
  background-position: center center;
  -moz-box-shadow: inset 0 30px 100px black;
  -webkit-box-shadow: inset 0 30px 100px black;
  box-shadow: inset 0 30px 100px black; }
  #dispatch .dispatch-logo {
    text-align: center; }
  #dispatch .dispatch-books {
    float: left; }
    #dispatch .dispatch-books img {
      display: block;
      float: right; }
  #dispatch .dispatch-signup {
    max-width: 500px; }
    #dispatch .dispatch-signup label {
      display: block;
      text-align: left; }
    #dispatch .dispatch-signup input[type="text"],
    #dispatch .dispatch-signup input[type="email"] {
      width: 95%;
      border: 0;
      padding: 2.5%;
      display: block; }

#recent-posts {
  color: #666;
  background-image: url("../img/blog_background.jpg");
  background-position: center center;
  -moz-box-shadow: inset 0 30px 100px #cccccc;
  -webkit-box-shadow: inset 0 30px 100px #cccccc;
  box-shadow: inset 0 30px 100px #cccccc; }

.tile.new {
  border-left: 10px solid #de20a2; }

.new:before {
  content: 'new';
  color: #FFF;
  background: #5dace2;
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 7px 10px;
  -webkit-transform: rotate(12deg); }

.tile {
  color: #666;
  margin-bottom: 25px;
  max-height: 250px;
  text-align: left;
  background: white;
  position: relative;
  -webkit-box-shadow: 0 8px 6px -6px #cccccc;
  -moz-box-shadow: 0 8px 6px -6px #cccccc;
  box-shadow: 0 8px 6px -6px #cccccc;
  overflow: hidden; }
  .tile .inner {
    border-left: 10px solid #5dace2;
    padding: 35px 25px; }
  .tile .button {
    position: absolute;
    left: 20px;
    bottom: 25px; }
  .tile:after {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0;
    display: block;
    content: '';
    height: 75px;
    background-image: linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
    background-image: -o-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
    background-image: -moz-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
    background-image: -webkit-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
    background-image: -ms-linear-gradient(bottom, white 25%, rgba(255, 255, 255, 0) 90%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, white), color-stop(0.9, rgba(255, 255, 255, 0))); }
  .tile h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.25em;
    line-height: 1.1em; }
    .tile h4 a {
      color: #5dace2;
      text-decoration: none; }
  .tile .byline {
    color: #999;
    font-size: 0.9em; }
  .tile .author {
    font-style: italic; }
  .tile p {
    font-size: 0.9em; }

#projects .project {
  font-weight: lighter;
  padding: 1em; }
#projects .title {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  letter-spacing: .1em;
  padding: 0.2em;
  margin-top: 3%;
  display: block; }
  #projects .title a {
    color: #FFF;
    text-decoration: none; }
#projects .aware-js,
#projects .breakpoints {
  color: #ffffff; }
#projects .breakpoints {
  background-image: url("../img/breakpoints_background.jpg"); }
#projects .tags-input {
  -moz-box-shadow: inset 0 30px 100px #cccccc;
  -webkit-box-shadow: inset 0 30px 100px #cccccc;
  box-shadow: inset 0 30px 100px #cccccc; }
#projects .aware-js {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/aware_background.jpg"); }

/* Blog Stuff */
#blog {
  position: relative; }

#pagination .newer, #pagination .older {
  display: block;
  background: #CCC;
  padding: 20px;
  font-size: 30px;
  position: fixed;
  top: 45%; }

#pagination .newer {
  left: 0; }

#pagination .older {
  right: 0; }

#pagination .newer span,
#pagination .older span {
  display: none; }

#pagination .newer:hover,
#pagination .older:hover {
  color: #FFF; }

header#blog_header {
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #cccccc; }
  header#blog_header p {
    margin-top: 0; }
  header#blog_header img {
    width: 25%;
    margin-right: 2.5%;
    max-width: 100px;
    float: left; }

ol#posts {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ol#posts .text blockquote {
    border-left: 5px solid #cccccc;
    margin-left: 0;
    padding-left: 1em; }
  ol#posts .older {
    float: right; }
  ol#posts .post {
    width: 90%;
    max-width: 600px;
    margin: 0px auto 50px;
    border-bottom: 1px dashed #cccccc; }
    ol#posts .post p.meta {
      font-size: 0.8em; }
    ol#posts .post.video, ol#posts .post.photoset {
      max-width: 700px; }
      ol#posts .post.video embed, ol#posts .post.video object, ol#posts .post.video video, ol#posts .post.video iframe, ol#posts .post.photoset embed, ol#posts .post.photoset object, ol#posts .post.photoset video, ol#posts .post.photoset iframe {
        margin: 0px auto;
        display: block;
        max-width: 100%; }
    ol#posts .post.photo {
      max-width: none; }
      ol#posts .post.photo img {
        display: block;
        margin: 0px auto; }
    ol#posts .post.quote {
      max-width: 1000px; }
      ol#posts .post.quote blockquote {
        font-size: 1.2em;
        line-height: 150%;
        color: #666666; }
    ol#posts .post.navigation {
      border-bottom: 0; }
    ol#posts .post .text {
      width: 90%;
      max-width: 600px;
      margin: 0px auto; }

ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em; }
  ul.tags li {
    display: inline-block;
    margin-bottom: 10px; }
    ul.tags li a {
      display: block;
      padding: 5px;
      background-color: #cccccc;
      color: white; }
    ul.tags li a:hover {
      background-color: #6666b7; }

ul#likes {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

li.like_post {
  /* Should match the width specified in the Likes tag */
  width: 200px;
  padding: 0px;
  float: left;
  border-bottom: 1px solid #cccccc; }

li.like_post img {
  max-width: 100%; }

li.like_post blockquote {
  margin: 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #eeeeee; }

li.like_post ol,
li.like_post ul {
  margin: 0 0 0 15px;
  padding: 0; }

li.like_post .like_link a {
  font-weight: bold; }

li.like_post .like_title {
  font-weight: bold; }

li.like_post .like_caption {
  display: none; }

li.like_post .post_info_bottom {
  margin: 10px 0 0 0;
  display: block !important; }

@media all and (max-width: 840px) {
  #pagination .newer,
  #pagination .older {
    background: rgba(0, 0, 0, 0.1);
    padding: 50px 10px; } }
/* Smartphone-ish */
@media all and (max-width: 480px) {
  #promo p {
    font-size: 1.5em; }

  #packagr h1 {
    font-size: 1.5em; }

  #projects .title {
    font-size: 1.5em; }

  #nav .nav-links .button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7em; }

  #tag-box .tag {
    font-size: 1.5em; }
  #tag-box .tagsinput {
    width: 90%; }

  .fork_me {
    display: none; } }
/* Tablet-ish */
@media all and (max-width: 768px) {
  .dispatch-books {
    display: none; }

  .half {
    width: auto;
    float: none;
    clear: both; }

  #dispatch .dispatch-signup {
    margin: 0px auto; }
    #dispatch .dispatch-signup form {
      padding-left: 0;
      margin: 0px auto;
      width: 100%; } }
/* Smaller than an ipad */
@media all and (max-width: 1024px) {
  body {
    font-size: 16px; } }
@media all and (min-width: 600px) {
  .tile {
    width: 45%;
    margin: 2.5%;
    float: left; } }
/* Bigger than a tablet */
@media all and (min-width: 769px) {
  .dispatch-signup {
    width: 45%;
    margin-left: 5%; }

  #dispatch p.description {
    text-align: center; }

  .plugin-page #dispatch p.description {
    text-align: left; }
  .plugin-page #dispatch .dispatch-info {
    margin-top: 1.25em; }

  #projects .half {
    width: 40%;
    padding: 5%; }

  #plugin-description h1 {
    font-size: 5em;
    line-height: 1em; } }
/* Desktop-ish */
@media all and (min-width: 900px) {
  .tile {
    float: left;
    width: 30%;
    margin: 1.5%;
    max-height: 360px;
    min-height: 360px; } }
/* Reader Aware Tricks */
.first-visit-only {
  display: none; }

.first-visit .first-visit-only {
  display: block; }
