
/*
@media all and (max-width: 1144px) {
	#recent-posts .tile{
		width: 44%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.tags-input .description{
		text-align: left;
		width: 100%;
	}	
	#demos .demo.long{
		width: 44%;
	}
	#demos .demo{
		width: 30%;	
	}
}
@media all and (max-width: 999px) {
	#recent-posts .tile{
		width: 40%;
	}
	.dispatch-signup form{
		width: 90%;
	}	
	#recent-posts .posts {
		width: 90%;
	}
	#nav .half{
	
	}
	
	#nav .nav-links{
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
	#nav .half{
		width: 100%;
	}
	.logo{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.breakpoints .title{
		width: auto;
		margin-left: auto;
	}
	.breakpoints .description{
	
	}
	.tags-input .description{
		width: auto;
		text-align: left;
	}
	#demos .demo{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#demos .demo.long{
		width: 100%;
	}
	#demos .demo.github,
	#demos .demo.js-fiddle{
		padding-right: 0px;
	}
}


@media all and (max-width: 699px) {
	.half{
		width: 100%;
	}
	
	body{
		font-size: 16px;
	}
	.aware-status{
		width: 90%;
	}
	#plugin-description .inner{
		width: 90%;	
	}
	#plugin-title .inner{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#plugin-title h1{
		font-size: 3.0em;
	}
	
	
	.breakpoints-background #plugin-title h1 {
		font-size: 2.5em;
	}
	#posts h2{
		padding: 0px;
		margin: 10px;
	}
	#demos .inner{
		width: 90%;
	}
	#demos .demo{
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 10px;
	}
	.tags-input .inner {
		width: 90%;
	}
	.tags-input .description {
		width: auto;
	}
	.tags-box {

	}
	.tags-box {
		padding-top: 25px;
	}
	.short-preview{
		margin-left: auto;
		float: none;
		width: auto;
		margin-right: auto;
		margin-bottom: 10px;
		position: relative;	
	}
	
}
*/


