/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}



@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* custom styles */
@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Avenir LT Std 65 Medium/AvenirLTStd-Medium.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: lighter;
	font-weight: 100;
	src: url('fonts/Avenir LT Std 35 Light/AvenirLTStd-Light.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: bolder; 
	font-weight: 800;
	src: url('fonts/Avenir LT Std 85 Heavy/AvenirLTStd-Heavy.otf');
}


/* */

body,html {
	font-size: 20px;
    line-height: 1.4;
    font-weight: 100;    
	font-family: "Avenir", "Helvetica", "Sans Serif";
}

img{
	max-width: 100%;
}
#main{
	max-width: 1800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.section{
	background-color: #eeefef;	
}
	.section .inner{
		padding-left: 3.75%;
		padding-right: 3.75%;
		padding-top: 25px;
		padding-bottom: 25px;	
	}
	.section.fullbleed .inner{
		padding: 0px;	
	}
.light-font .section{
	color: #ffffff;	
}
.red-theme{
	
}	.red-theme .section{
		
	}
	.red-theme .aware-status{
		background-color: #e20100;	
	}

.blue-theme{
	
}
	.blue-theme .section{
			
	}
	.blue-theme .aware-status{
		background-color: #ffffff;
		color: #000000;	
	}
	.blue-theme .aware-status a{
		color: #000000;		
	}

.sections-purple .section{
	background-color: #201D31;
}
.breakpoints-background .section{
	background: none;
}


.breakpoints-background{
	background: #212121;
	background-image: url('../img/breakpoints_big_bg.png');
	background-repeat: no-repeat;	
}
.clear{
	width: 100%;
	clear: both;
}
.half{
	width: 50%;
	float: left;
}

.blue-background{
	background: #5dace2;
}


.content-right *{
	display: block;
	text-align: right;
	clear: both;
}
.logo{
	max-width: 100%;
}
.button{
	font-size: 0.8em;
	background: #5dace2;
	color: white;
	border:0;
	text-decoration: none;
	padding: 7px 20px 2px 20px;
	margin-right: 8px;
	-webkit-box-shadow: 2px 2px 0px #2B7FB9;
	-moz-box-shadow:    2px 2px 0px #2B7FB9;
	box-shadow:         2px 2px 0px #2B7FB9;
}
	
.arrow-right{
	font-weight: lighter;
	color: #666;
	font-size: 1.25em;
	text-decoration: none;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-image: url('../img/grayarrow.png');
	background-position: right center;
	background-size: contain;
}
.arrow-right.white{
	color: white;	
	background-image: url('../img/whitearrow.png');
}


#nav{
	background-color: #ffffff;
	margin-top:20px;
}
#nav .inner{
	padding-top: 25px;
	padding-bottom: 25px;
}
#nav .nav-links{
	margin-top: 5px; 
	margin-bottom: 15px; 
	padding-top: 15px;
}
#nav .nav-links a{
	margin-top: 10px;
	width: 15%;
	padding-top: 10px;
	padding-bottom: 6px;
}

.nav-links { 
	padding-top: 20px;
}

.nav-links a.button {
	background: #FFF;
	border-radius: 6px;
	color: #2B7FB9;
	-webkit-box-shadow: none;
	box-shadow: none;
	
}

#plugin-title h1,h2{
	margin: 0px;
	padding: 0px;
}

	#plugin-title h3{
		margin-bottom: 0;
	}

#plugin-description .inner{
	width: 55%;	
		margin-left: auto;
	margin-right: auto;
}
#plugin-description img{
	display: block;
	margin: 50px auto 10px;
	max-width: 100%;
}
.blackgradient{
	background: #68666b;
	background: -moz-linear-gradient(top,  #68666b 3%, #000000 27%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#68666b), color-stop(27%,#000000));
	background: -webkit-linear-gradient(top,  #68666b 3%,#000000 27%);
	background: -o-linear-gradient(top,  #68666b 3%,#000000 27%);
	background: -ms-linear-gradient(top,  #68666b 3%,#000000 27%);
	background: linear-gradient(to bottom,  #68666b 3%,#000000 27%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68666b', endColorstr='#000000',GradientType=0 );
}

.tags-input .inner{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.tags-input .description{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.tags-input .content-right{
	padding-bottom: 50px;
	padding-right: 3.75%;	
}

.tags-box{
	padding-top: 50px;	
}
.tags-box .tag{
	
	float: left;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 1%;
	
	padding: 7px 25px 0px 25px;
	font-size: 2.0em;
	background-color: #B5ED89;
	
	border: 2px solid #68AD35;
	border-radius: 5px;
	position: relative;
}
.tag .close-tag{
	font-weight: lighter;
	right: 5px;
	top: -3px;
	position: absolute;
	font-size: 18px;
	color: #6BAF38;
}

.social{
	width: 340px;
	margin-left: auto;
	margin-right: auto;	
}
.social a{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	margin-right: 15px;
	background-repeat: no-repeat;	
	background-size: contain;
}
.social a.email{
	background-image: url('../img/mail.png');	
	background-position-y: 4px;
}
.social a.twitter{
	background-image: url('../img/Twitter.png');	
}
.social a.facebook{
	background-image: url('../img/facebook.png');	
	width: 25px;
	height:35px;
}
.social a.github{
	background-image: url('../img/github.png');
	height:38px;	
}

/*  Plugin Page Specific */
/*
.plugin-page .social .twitter{
	float: none;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/Twitter.png');	
	
}
.red-theme.plugin-page .social .twitter{
	background-image: url('../img/Twitter_red.png');	
}
.blue-theme.plugin-page .social .twitter{
	background-image: url('../img/Twitter_blue.png');	
}
*/
.aware-status{
	width: 55%;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-weight: lighter;
}
.aware-status a{
	color: white;	
}
#plugin-title h1{
	font-size: 5.0em;
}

#demos .inner{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#demos .demo{
	display: inline-block;
	width: 22%;
	margin: 1%;
	padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 1%;
	padding-right: 1%;
	
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 50%;
	background-size: 2.0rem;
}
#demos .demo.long{
	padding-right: 5%;
	width: 35%;
}
.red-theme #demos .demo{
	background-color: #e20100;
	
	-webkit-box-shadow: 4px 3px #bb0404;
    -moz-box-shadow: 4px 3px #bb0404;
    box-shadow: 4px 3px #bb0404;	
}
.blue-theme #demos .demo{
	background-color: #67bee5;
	-webkit-box-shadow: 4px 3px #0081bb;
	-moz-box-shadow: 4px 3px #0081bb;
	box-shadow: 4px 3px #0081bb;
}


#demos .demo.github{
	background-image: url('../img/github_white.png');
}
#demos .demo.js-fiddle{
	background-image: url('../img/jsfiddle.png');	
}
#demos .demo.github.white-background{
	background-image: url('../img/github.png');	
}
#demos .demo a{
	text-decoration: none;
	color: white;
	font-size: 1.25em;
}

#posts{
	
}
.short-preview{
	float: left;
	width: 30%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 10px;
	position: relative;
	
}
.short-preview img{
	width: 100%;
}
.short-preview a{
	text-decoration: none;
	font-weight: lighter;
}
.short-preview-title{
	height: 40px;
	background-color: #ffffff;
	color: #000000;	
}
.short-preview-title{
	padding: 5px;
	padding-top: 10px;	
}
#posts .content-right{
	margin-right: 1.875%;
	margin-top: 15px;
}

.red-theme .contact a{
	color: #bb0404;
}
.blue-theme .contact a{
	color: #67bee5;
}



#dispatch{
	color: #eceded;
	background-image: url('../img/dispatch_background.jpg');
	background-position: center center;
	-moz-box-shadow:    inset 0 30px 100px #000;
   -webkit-box-shadow: inset 0 30px 100px #000;
   box-shadow:         inset 0 30px 100px #000;
   text-align: left;
}

#dispatch .description{

	line-height: 1.6em;
	text-align:left;
}

#dispatch .dispatch-signup,
#dispatch .dispatch-info
{
	float: left;
	width: 50%;	
}

#dispatch .dispatch-info {
	padding-top: 1em;
}
#dispatch .dispatch-signup .button{
	float: left;
}
#dispatch .dispatch-signup label{
	display: block;
	text-align: left;
}
.dispatch-signup form{
	padding-left: 15%;
	width: 75%;
}
.dispatch-signup input[type="text"],
.dispatch-signup input[type="email"]{
	height: 30px;
	width: 90%;
	display: block;
}


a { color: #FFF; }

.blue-theme a { 
	color: #b3d4fc;
}

.smaller {
	font-size: smaller;
}

/* Reader Aware Tricks */


#recent-posts .tile.new {
	border-left: 10px solid #de20a2;
}

.new:before {
	content: 'new';
	color: #FFF;
	background: #5dace2;
	position: absolute;
	top: -4px;
	right: -4px;
	padding: 7px 10px;
	-webkit-transform: rotate(12deg);
}

.first-visit-only {
	display: none;
}

.first-visit .first-visit-only {
	display: block;
}





@media all and (max-width: 1144px) {
	#recent-posts .tile{
		width: 44%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.tags-input .description{
		text-align: left;
		width: 100%;
	}	
	#demos .demo.long{
		width: 44%;
	}
	#demos .demo{
		width: 30%;	
	}
}
@media all and (max-width: 999px) {
	#recent-posts .tile{
		width: 40%;
	}
	.dispatch-signup form{
		width: 90%;
	}	
	#recent-posts .posts {
		width: 90%;
	}
	#nav .half{
	
	}
	
	#nav .nav-links{
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
	#nav .half{
		width: 100%;
	}
	.logo{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.tags-box{

	}
	.tags-input .inner {
	
	}
	.tags-box .tag{

	}
	.breakpoints .half{
		
	}
	.breakpoints .title{
		width: auto;
		margin-left: auto;
	}
	.breakpoints .description{
	
	}
	.tags-input .description{
		width: auto;
		text-align: left;
	}
	#demos .demo{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#demos .demo.long{
		width: 100%;
	}
	#demos .demo.github,
	#demos .demo.js-fiddle{
		padding-right: 0px;
	}
}


@media all and (max-width: 699px) {
	.half{
		width: 100%;
	}
	
	body{
		font-size: 16px;
	}
	.aware-status{
		width: 90%;
	}
	#plugin-description .inner{
		width: 90%;	
	}
	#plugin-title .inner{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#plugin-title h1{
		font-size: 3.0em;
	}
	
	
	.breakpoints-background #plugin-title h1 {
		font-size: 2.5em;
	}
	#posts h2{
		padding: 0px;
		margin: 10px;
	}
	#demos .inner{
		width: 90%;
	}
	#demos .demo{
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 10px;
	}
	.tags-input .inner {
		width: 90%;
	}
	.tags-input .description {
		width: auto;
	}
	.tags-box {

	}
	.tags-box {
		padding-top: 25px;
	}
	.short-preview{
		margin-left: auto;
		float: none;
		width: auto;
		margin-right: auto;
		margin-bottom: 10px;
		position: relative;	
	}
	
}



